*
!/alpine_apk_list.*
!/app/listener_trigger
!/bin/
!/ldap/
!/ox-extension
!/LICENSE
!/Makefile
!/requirements_all.txt
!/share/
!/tests/
!/udm/
!/umc/
!/univention-ox-provisioning/
!/univention-ox-soap-api/

# [EOF]
