*
!/alpine_apk_list.*
!/app/listener_trigger
!/app/univention-ox-connector-task-management
!/bin/
!/ldap/
!/ox-extension
!/LICENSE
!/Makefile
!/requirements_all.txt
!/share/
!/tests/
!/udm/
!/umc/
!/entrypoint.sh
!/pyproject.toml
!/uv.lock
!/univention-ox-provisioning/
!/univention-ox-soap-api/
!/standalone-files/

# [EOF]
