**/__pycache__/
**/.eggs
**/*.egg-info
requirements_all.txt
univention-appcenter-control
venv
*swp
**_build
/.env.ldap-server
/.env.standalone
/.env.udm-rest-api
/docker-compose.override.yaml
/secret
/ssl
