**/__pycache__/
**/.eggs
**/*.egg-info
requirements_all.txt
univention-appcenter-control
venv
*swp
**_build
/.env.ldap-server
/.env.standalone
/.env.udm-rest-api
/docker-compose.override.yaml
/secret
/ssl
/tilt_config.json
/univention-ox-provisioning/build/
/univention-ox-soap-api/build/

# kyverno test files
helm/**/.kyverno/kyverno-test.yaml
helm/**/.kyverno/manifest.yaml
