# GitLab documenation: https://docs.gitlab.com/user/project/codeowners/reference/#add-a-group-as-a-code-owner
# Default code owners
* @dwiesent @ccastens @jconde @jgarcia @jlohmer @tkintscher @fbotner @jtorres @arequate @mmeschter @cgarcia @jbremer @arequate

[Documentation]
/docs/*  @ngulden @tkintscher @jconde @jtorres @dwiesent @fbotner @sschwardt @mmeschter @idelgado @jbremer @arequate

[Documentation CI/CD]
/.gitlab-ci/doc-builder    @ngulden @jconde @mmeschter @idelgado
/.gitlab-ci/base-doc.yml   @ngulden @jconde @mmeschter @idelgado
