# SPDX-License-Identifier: AGPL-3.0-only
# SPDX-FileCopyrightText: 2024-2025 Univention GmbH

---
environments:

  # The default configuration targeting the Gaia cluster from nubus-helm
  default:
    values:
      - ../nubus-helm/ci/gaia-state-values.yaml.gotmpl
      - reviewPrefix: {{ env "REVIEW_PREFIX" | default .Namespace }}

  # Configuration for a local or custom deployment.
  #
  # Copy "gaia-values.yaml" to "local-values.yaml" and run helmfile with "-e
  # local" for local experimentation e.g. with other clusters.
  local:
    values:
      - ./nubus-helm/ci/local-state-values.yaml.gotmpl
      - reviewPrefix: {{ env "REVIEW_PREFIX" | default .Namespace }}

---

repositories:
  - name: nubus-dev
    url: artifacts.software-univention.de/nubus-dev/charts
    oci: true

releases:
  - name: ox-connector
    chart: {{ if .Values.dev.useLocalChart }}../helm/ox-connector{{ else }}nubus-dev/ox-connector{{ end }}
    version: {{ env "OX_CHART_VERSION" | default "*" | quote }}
    values:
      - ox-connector-values.yaml.gotmpl
