
toggles:
  scaledSetup: false

releases:
  nubus:
    extraValues:
      - global:
          extensions:
            - name: "ox"
              image:
                registry: "artifacts.software-univention.de"
                repository: "nubus-dev/images/ox-extension"
                tag: {{ env "OX_CHART_VERSION" | default "latest" | quote }}

        nubusStackDataUms:
          templateContext:
            oxDefaultContext: "10"
            oxSystemUserPassword: {{
              derivePassword 1 "long" ( env "MASTER_PASSWORD" ) "ox-system-user" "review.univention.dev"
              | sha1sum | quote
              }}
            portalOxLinkBase: "https://{{ env "DEPLOY_SUBDOMAIN" }}.review.univention.dev"

        nubusProvisioning:
          registerConsumers:
            createUsers:
              oxConsumer:
                existingSecret:
                  name: "ox-connector-provisioning-api"
