---

openXchange:
  domainName: {{ printf "%s-ox.%s" .Values.reviewPrefix .Values.reviewBaseDomain | quote }}
  auth:
    username: oxadminmaster
    existingSecret:
      name: ox-core-mw-secret-envvars
      keyMapping:
        password: MASTER_ADMIN_PW
  oxLocalTimezone: "Europe/Berlin"
  oxLanguage: "de_DE"
  oxDefaultContext: "10"
  oxSmtpServer: "imap://dovecot-ce:587"
  oxImapServer: "imap://dovecot-ce:143"
  oxSoapServer: "http://ox-core-mw-admin"
  logLevel: "DEBUG"
  oxDeputyPermissions: true
  oxSharedAccount: true
  # For unit tests a sqlite DB is good enough
  oxDbConnectionString: "/var/lib/univention-appcenter/apps/ox-connector/data/listener/ox-connector.db"

provisioningApi:
  connection:
    baseUrl: "http://nubus-provisioning-api"

extraVolumes:
  - name: ox-connector-tmp
    emptyDir: {}
  - name: ox-connector-var-tmp
    emptyDir: {}

extraVolumeMounts:
  - name: ox-connector-tmp
    mountPath: /tmp
  - name: ox-connector-var-tmp
    mountPath: /var/tmp
